@import "../stylesheet/mixin";

.App {
    background-image: url("../assets/elements/map.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 768px;
    height: 432px;
    position: relative;
    margin: 0 auto;
    @include mq(desktop) {
        width: 1280px;
        height: 720px;
    }
}