@import "../stylesheet/mixin";

.main_box {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
z-index: 2;
// outline: solid 2px red;
}

.northAmerica {
    top: 37%;
    left: 15%;
    width: 13%;
    height: 12%;
}
.southAmerica {
    top: 65%;
    left: 27%;
    width: 10%;
    height: 23%;
}
.europa {
    top: 33%;
    left: 45%;
    width: 18%;
    height: 16%;
}
.asia {
    top: 39%;
    left: 67%;
    width: 17%;
    height: 20%;
}
.australia {
    top: 73%;
    left: 78%;
    width: 11%;
    height: 11%;
}

// =======Man style======================================

.man {
    display: inline-block;
    font-size: 0;
    background-image: url("../assets/elements/man_empty.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    &:hover {
        background-image: url("../assets/elements/man_filled.png");
    }
}

.first_man {
    @extend .man;
    padding-left: 17px;
    background-size: 13px;
}
.second_man {
    @extend .man;
    padding-left: 25px;
    background-size: 20px;
}
.third_man {
    @extend .man;
    width: 30px;
    height: 73px;
    background-size: 100%;
}

// =============Devices style=====================
%device {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
}

@keyframes slideLaptop {
  0% {
    transform: translate(-88%, -5%);
  }
  100% {
    transform: translate(-12%, -5%);
  }
}
@keyframes slideTablet {
  0% {
    transform: translate(-75%, -5%);
  }
  100% {
    transform: translate(-25%, -5%);
  }
}
@keyframes slideMobile {
  0% {
    transform: translate(-65%, -5%);
  }
  100% {
    transform: translate(-35%, -5%);
  }
}

.device_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.laptop {
    @extend %device;
    background-image: url("../assets/elements/small.png");
    
    &_mask {
        transform: translate(-12%, -5%);
        animation-name: slideLaptop;
        animation-timing-function: linear;
        // animation-duration: 2000ms;
        // filter: brightness(1) invert(0);
    }

    & .thumb {
        display: inline-block;
        position: relative;
        top: 5%;
        left: 12%;
        overflow: hidden;
    }

    &.northAmerica_D {
        top: 10%;
        right: 5%;
    }
    &.southAmerica_D {
        top: 30%;
        right: 0;
    }
    &.europa_D {
        top: 30%;
        right: 40%;
    }
    &.asia_D {
        top: 60%;
        right: 30%;
    }
    &.australia_D {
        top: 40%;
        right: 0;
    }
}

.tablet {
    @extend %device;
    background-image: url("../assets/elements/medium.png");

    &_mask {
        transform: translate(-25%, -5%);
        animation-name: slideTablet;
        animation-timing-function: linear;
        // animation-duration: 2000ms;
        // filter: brightness(1) invert(0);
    }

    & .thumb {
        display: inline-block;
        position: relative;
        top: 5%;
        left: 25%;
        overflow: hidden;
    }

    &.northAmerica_D {
        top: 50%;
        right: 40%;
    }
    &.southAmerica_D {
        bottom: 10%;
        right: 30%;
    }
    &.europa_D {
        top: 60%;
        left: 0%;
    }
    &.asia_D {
        top: 70%;
        left: 0%;
    }
    &.australia_D {
        top: 40%;
        left: 0;
    }
}

.mobile {
    @extend %device;
    background-image: url("../assets/elements/large.png");

    &_mask {
        transform: translate(-35%, -5%);
        animation-name: slideMobile;
        animation-timing-function: linear;
        // animation-duration: 2000ms;
        // filter: brightness(1) invert(0);
    }

    & .thumb {
        display: inline-block;
        position: relative;
        top: 5%;
        left: 35%;
        overflow: hidden;
    }

    &.northAmerica_D {
        top: 10%;
        left: 5%;
    }
    &.southAmerica_D {
        top: 0%;
        left: 5%;
    }
    &.europa_D {
        top: 0%;
        right: 0%;
    }
    &.asia_D {
        top: 0%;
        right: 0%;
    }
    &.australia_D {
        top: 35%;
        right: 40%;
    }
}
